.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.TestClass {
    display: block;
    /* position: relative; */
    z-index: 1;
    /* top: 70px; */
    font-size: 40px;
    font-family: "archia";
}

.spinner {
    position: relative;
    top: 140px;
    height: 8rem !important;
    width: 8rem !important;
}

.overlayClass {
    position: relative;
    z-index: 1;
    bottom: 956px;
}

.raphael-group-45-fc-gradient-legend {
    display: none;
}

.rdt_TableHead {
    width: calc(100% - 18px);
}

.tableOverlay {
    position: absolute;
    top: 756px;
    /* left: 104px; */
}

// .map {
//     /* display: flex; */
// }
.pieName {
    span {
        top: 340px;
    }
    /* display: flex;
    position: absolute;
    top: 343px;
    right: 1px; */
}

.filter {
    float: right;
    input {
        padding: 7px;
    }
    button {
        display: contents;
        height: 100%;
    }
}

.header {
    display: flex;
    padding-top: 7px;
    float: left;
}

.countryNumber {
    float: left;
    padding: 7px;
}

.cardFixedHeight {
    height: 431px;
}